body{
    margin: 0;
    background-color: #F2F2F2;
}
.nav-link_custom{
    margin-left: 260px;
}
.nav-item{
    font-family:'Open Sans', sans-serif;
    margin-left: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #9893A3;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.button_login{
    margin-left: 150px;
    padding: 16px 30px;
    gap: 10px;
    height: 51px;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #6C63FF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.button_getstarted{
    margin-left: 10px;
    padding: 16px 30px;
    gap: 10px;
    height: 51px;
    background: #6C63FF;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.section-1{
    margin-top: 90px;
}
.section-2{
    margin-top: 220px;
}
h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #2F2E41;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 30px;
}
h2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2F2E41;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 30px;
}
p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 30px;
}
.button_getstarted-2{
    padding: 16px 30px;
    gap: 10px;
    height: 51px;
    background: #6C63FF;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.nav-link-learnmore{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #2F2E41;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.nav-link-learnmore:link{
    text-decoration:none;
    color: #2F2E41;
}
.nav-link-learnmore:hover{
    text-decoration: underline #6C63FF 4px;
    color: #2F2E41;
}
.card-custom{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    gap: 20px;
    width: 380px;
    height: 430px;
    background: rgba(236, 235, 255, 0.3);
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card-text-custom-1{
    text-align: center;
    margin-bottom: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #717082;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.card-title-custom-1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -2px;
    color: #2F2E41;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.btn-custom{
    text-align: center;
    padding: 16px 30px;
    gap: 10px;
    height: 51px;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #6C63FF;
    order: 0;
}
.card-custom-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 70px;
    gap: 40px;
    width: 380px;
    height: 502px;
    background: #6C63FF;
    border-radius: 2px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.card-text-custom{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16   px;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card-title-custom{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.btn-custom-1{
    align-items: center;
    padding: 16px 30px;
    gap: 10px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #6C63FF;
    order: 0;
}
sub{
    font-size: 10px;
} 
.card-body{
    text-align: center;
}
.card-custom-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
    width: 370px;
    height: 460px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.card-img-custom{
    width: 370px;
    height: 225px;
    border-radius: 2px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.card-text-custom-2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #2F2E41;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.card-text-custom-3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #9893A3;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
h3{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.button_letstalk{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 10px;
    height: 54px;
    background: #6C63FF;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.section-3{
    margin-top: 90px; 
}
.section-img{
    background-image: url("../img/Rectangle\ 12.png");
    background-repeat: no-repeat;
    background-position-x:center;
    border-radius: 2px;  
}
.section-4{
    margin-top: 90px;
    background-color: #ECEBFF99;
}
h6{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2F2E41;
}
.custom-li{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #717082;
}
.custom-media{
    display: inline;
    width: 35px;
    height: 32px;
    left: 780px;
    top: 44px;
    margin-left: 12px;
    border-radius: 1px;
}
a:hover, a:link, a:visited{
    text-decoration: none;
    color: #2F2E41;
}
.section-5{
    background-color: #ECEBFF99;
}
.copyright{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9893A3;
    flex: none;
    order: 1;
}

